* {
 box-sizing: border-box;
}

/*****************************
 General
******************************/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
      overflow-x: hidden;
}

.main-header {
  height: 850px;
  padding-top: 170px;
  background-image: url('../img/PSC-header.jpg');
/*  background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
/*  background-image: linear-gradient(#ffa949, firebrick);*/
  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, #fff, tranparent),
              #ffa949 url('../img/PSC-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-header, .title{
  text-align: center;
/* Pasadena Sandwich Co. title change later */
}

#icon {
  width: 36px;
  height: 36px; 
  top: 9px;
  left: 20px;
    margin: 0;
    padding: 0;
  
}

.title {
  /*To change font-size from px to em. Do this simple equation. Whatever the desired pixel is / 16. 26px/16px = 1.625em.
  */
  font-size: 1.625em;
  color: white;
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.primary-content {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 95px;
}

.secondary-content {
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.primary-content, .secondary-content {
  width: 75%;
  margin: auto;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 900px;
}

.t-border {
  border-top: 2px solid lightgreen;
}

/*ul li {*/
/*
  margin-bottom: 5px;
}
*/
ul, ol {
 margin-left: 30px 0;
}

li {
  margin-bottom:  10px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}

img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.sandwich {
  /*Fix so orange fills entire page*/
  padding: 18% 24%;
/* two values first is for top and bottom. 2nd is for left and right. */
  border-width: 10px 0px;
  border-style: solid;
  border-color: burlywood; 
/*When 3 values. First one is the top. Second is left and right. Third one is the bottom. */
  margin: 105px 0 60px;    
  background-image: url('../img/big-sandwich.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Box Shadows: 1st value is horizontal. 2nd is vertiical. 3rd is blur. 4th value is spread-radius.*/
  box-shadow: inset 0px 0px 50px 10px rgba(0,0,0.8);
  border-radius: 10px;

}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
  text-align: center;
}

p {
 font-size: 20px;
}

#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
        margin: auto;
      }

/*********************************
 HEADLINE ELEMENTS & P ELEMENTS
*********************************/ 

h1 {
/* 90px/16px*/
  font-size: 5.625em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  /*Text Shadow: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is of the color of the shadow. */
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 53px;
  text-decoration: underline;
  font-weight: normal;
  /*  26px/53px  */
  margin-bottom: .5em;
}
 
h3 {
 font-size: 20px;
 /* 34px/20px */
 margin-bottom: 1.7em;
}

p {
    
}

/***************************
FLOATED COLUMNS
*****************************/

.menu, .drinks {
  width: 46.5%;
}

.menu {
  float: left;
}

.drinks {
  float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/************************
 COLORS
**************************/
body {
  color: #47A347;
}

.title {
  color: white;
}


.main-header {
  background-color: burlywood;
}


/*The div is being modified*/
.sandwich {
  color: white;
  background-color: #FFA347;
}

ul li {
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: gray;
}

/*CSS PSEUDO CLASS*/
a:link {
 color: sandybrown;
 text-decoration: none;
}

a:visited {
 color: greenyellow;
}

a:hover {
 color: chocolate;
}
 
a:active {
 color: darkgoldenrod;
}

a:focus {
  color: chartreuse;
}

/**************************
   MEDIA QUERIES
***************************/


@media (max-width: 1024px) {
    .primary-content, .secondary-content {
      width: 90%;
    }
    .sandwich {
      padding: 10% 12%;
      margin:50px 0 20px;
    }
}

@media (max-width: 768px) {
    .pimary-content, .secondary-content{
      width: 100%;
      padding: 20px;
      border-top: none;
  }
    .main-header {
      max-height: 380px;
      padding: 50px 25px 0;
  }
    .title {
      font-size: 1.3rem;
      border: none;
    }
    h1 {
      font-size: 5rem;
      line-height: 1.1;
    }
    .arrow {
      display: none;
    }
    .intro {
      font-size: 1rem;
    }
    .menu, .drinks {
     float: none;
     width: 100%;
    }
    .main-footer {
      padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1{
      font-size: 3rem;
    }
}

/***********************************************
 NAV 
***************************************************/

nav {
 position: absolute;;
 top: 2%;
 left: 2%;
}