<head>
    <meta charset="utf-8">
    <!--Get rid off-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PSC History</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="author" href="humans.txt">
</head>
<nav id="main-menu">
     <ul class="nav-bar">
          <li class="nav-button-home"><a href="index.html">Home</a></li>
          <li class="nav-button-products"><a href="about.html">Menu</a></li>
     </ul>
</nav>
<div id="container">
<div id="leftcol">
<p>

    <img src="img/sandwich-PSC.gif" alt="Photograph of sandwich 3">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass mother house, fin' up the way the man talks. Mother do that poop to me, he better paralyze my butt, 'cause I'll kill the mother, know what I'm sayin'?</i>.
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
    <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. Normally, both your butts would be dead as f'ing fried chicken, but you happen to pull this poop while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me.<p> Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.

Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
</div>
<div id="rightcol">
<p> <img src="img/sandwich-PSC-3.gif" alt="Photograph of sandwich 1">Now that there is the Tec-9, a bad spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that poop? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that poop. <i>SAMUEL L JACKSON</i><i> YESSSSS</i> My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that lady in the kneecaps, find out where my lovely money is. She gonna tell me too. Hey, look at me when I'm talking to you, mother. You listen: we go in there, and that man Winston or anybody else is in there, you the first mother to get shot. You understand?<i>SAMUEL L JACKSON</i>.
<p>You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.
</div>
</div>